body {
  background-color: #d8d9cf;
}

hr {
  width: 75%;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
}

.header {
  font-family: "Courier New", Courier, monospace;
}

.profile {
  border-radius: 50%;
  border: 2px rgb(4, 0, 255) solid;
}

h1,
h2 {
  color: #7c7c7c;
}

.skill {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.checked {
  color: orange;
}

.trial {
  margin: 30px;
  padding: 10px;
  border: 1px solid;
  border-radius: 20px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
